.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px;
    border:3px black;
}

.header__input{
    display: flex;
    align-items: center;
    border:3px red;
}

.header__icons{
    display:flex;
    align-items: right;
    border:3px blue;
}